################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharp/PrSystem/.vs/PrSystem/FileContentIndex/454886b2-43f6-477e-8b32-099a2cb145a6.vsidx
